@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
::before,
::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

body {
  height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 8px 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus-visible {
  background-color: #615048;
}

@supports not selector(:focus-visible) {
  .button-brown:focus {
    background-color: #615048;
  }
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .button-blue:focus {
    background-color: #68a2ca;
  }
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus-visible {
  background-color: #6c9e42;
}

@supports not selector(:focus-visible) {
  .button-green:focus {
    background-color: #6c9e42;
  }
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus-visible {
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .button-transparent:focus {
    outline: 3px solid #83b3d3;
  }
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Для включения неактивного состояния кнопки с прозрачным фоном, необходимо добавить класс 'button-transparent-disabled' к элементу <a> класса 'button-transparent' */
.button-transparent-disabled {
  color: rgba(255, 255, 255, 0.1);

  cursor: default;

  pointer-events: none;
}

/*Для включения неактивного состояния кнопки, необходимо добавить класс 'button-disabled' к элементу <a> класса 'button' */
.button-disabled {
  color: #ffffff;

  background-color: #e5e5e5;
  cursor: default;

  pointer-events: none;
}

.page-header {
  position: relative;
}

.page-header-link:hover .page-header-logo {
  opacity: 0.6;
}

.page-header-link:focus-visible .page-header-logo {
  outline: auto;
  outline-color: #000000;
}

.page-header-link:active .page-header-logo {
  opacity: 0.3;
}

.page-header-logo {
  position: absolute;
  left: 70px;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 893px;
  margin-right: 70px;
  margin-left: 238px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  max-width: 268px;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus-visible {
  outline-offset: -1px;
}

@supports not selector(:focus-visible) {
  .navigation-link:focus {
    outline-offset: -1px;
  }
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;

  height: 2px;

  background-color: #756257;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:focus-visible {
  outline-offset: -1px;
}

@supports not selector(:focus-visible) {
  .user-navigation-link:focus {
    outline-offset: -1px;
  }
}

.user-navigation-link:active {
  opacity: 0.3;
}

.user-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
}

.user-navigation-link-favorites {
  position: relative;
}

.favorites-count {
  position: absolute;
  top: 11px;
  right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  padding: 4px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}

.user-navigation-item-want {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  margin-left: 20px;
}

.user-navigation-link-want {
  padding: 8px 34px;
}

.hero {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 51px 51px 82px;

  background-color: #6195bd;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::after {
  content: url("../images/hero-divider.svg");
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;
}

.advantages-container {
  padding: 69px 274px 90px;
}

.advantages-title {
  margin: 0 0 25px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-card {
  display: flex;
  flex-wrap: wrap;
}

.advantages-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  padding: 92px 85px;

  text-align: center;

  background-color: #82b3d3;
}

.advantages-card-content::after {
  content: "";

  order: 2;
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;

  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-card-image {
  height: auto;

  object-fit: cover;
}

.advantages-card-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-card-description {
  order: 3;
  margin: 0;

  color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-list:not(.advices) .advantages-item::after {
  content: "";

  order: 2;
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  padding: 103px 85px;

  text-align: center;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-description {
  order: 3;
  margin: 0;
}

.advantages-list.advices .advantages-item {
  padding: 80px 85px;
}

.advantages-item.advantages-item-housing::before {
  content: url(../images/housing.svg);

  width: 75px;
  height: 72px;
}

.advantages-item.advantages-item-food::before {
  content: url(../images/food.svg);

  width: 74px;
  height: 70px;
  margin-top: 1px;
}

.advantages-item.advantages-item-souvenirs::before {
  content: url(../images/souvenirs.svg);

  width: 64px;
  height: 76px;
  margin-top: -4px;
}

.advantages-item-title-advice {
  margin: 30px 0;
}

.advantages-list.advices .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

.hotel-search {
  padding: 96px 304px;

  text-align: center;
}

.hotel-search-title {
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0 0 54px 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search-link {
  display: inline-block;

  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  padding: 96px 258px 104px;
}

.newsletter-title {
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 0 54px 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.newsletter-form {
  display: flex;
}

.newsletter-form-button {
  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.newsletter-form-input-mail {
  width: 452px;
  height: 100%;
  padding-left: 20px;

  font-size: 18px;
  line-height: 24px;
  font-family: inherit;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-form-input-mail:hover {
  background-color: #e6e6e6;
}

.newsletter-form-input-mail:focus-visible {
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .newsletter-form-input-mail:focus {
    outline: 3px solid #83b3d3;
  }
}

.newsletter-form-input-mail:active {
  outline: 2px solid #000000;
}

.newsletter.with-background {
  background-color: #8c98a3;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter.transparent .newsletter-title {
  color: #000000;
}

.newsletter.transparent .newsletter-description {
  color: #333333;
}

.catalog-header {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #3c719b;
  background-image: url("../images/catalog-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-hotels-title {
  margin: 0 0 8px 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;

  padding-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 11px;

  width: 7px;
  height: 11px;

  background-image: url("../images/breadcrumbs-icon-arrow.svg");
  transform: translateY(-45%);
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter-group-infrastructure {
  margin-right: 70px;
}

.catalog-filter-group-housing {
  margin-right: auto;
}

.catalog-filter-group-price {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;

  display: block;
  padding-left: 36px;
}

.control-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;

  background-color: #f2f2f2;
  border: none;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;

  width: 12px;
  height: 10px;

  background-image: url("../images/checkbox.svg");
  transform: translateX(-50%);
}

.control-input[type="radio"]:checked + .control-mark-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.control-mark {
  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
}

.control-mark-checkbox {
  border-radius: 4px;
}

.control-mark-radio {
  border-radius: 50%;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .control-input:focus + .control-mark {
    outline: 3px solid #83b3d3;
  }
}

.control:active {
  opacity: 0.3;
}

.catalog-filter-price-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.control-price .control-input {
  width: 143px;
  height: 48px;
  padding: 0;
  padding-right: 50px;
  padding-left: 20px;
}

.catalog-filter-group-price .control-input:hover {
  background-color: #e6e6e6;
}

.catalog-filter-group-price .control-input:focus-visible {
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .catalog-filter-group-price .control-input:focus {
    outline: 3px solid #83b3d3;
  }
}

.catalog-filter-group-price .control-input:active {
  outline: 2px solid #000000;
}

.control-price {
  position: relative;
}

.control-input-label {
  position: absolute;
  top: 50%;
  right: 20px;

  line-height: 24px;
  color: #000000;

  transform: translateY(-50%);
  opacity: 0.3;
}

.control-input.left-control-field {
  margin-right: 2px;

  border-radius: 4px 0 0 4px;
}

.control-input.right-control-field {
  border-radius: 0 4px 4px 0;
}

.control-range {
  position: relative;

  height: 4px;
  margin: 8px 0;

  background-color: rgba(255, 255, 255, 0.3);
}

.control-range-bar {
  position: absolute;
  left: 0;

  width: 226px;
  height: 4px;

  background-color: #ffffff;
}

.range-button {
  position: absolute;
  top: 50%;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-button-min {
  left: 0;
}

.range-button-max {
  right: 0;
}

.range-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-button:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

@supports not selector(:focus-visible) {
  .range-button:focus:focus {
    outline: 3px solid #83b3d3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.range-button:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.catalog-filter-buttons-container {
  display: flex;
  flex-direction: column;
  align-self: end;
  max-width: 191px;
}

.catalog-filter-buttons-submit {
  margin-bottom: 32px;
}

.catalog-main {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 52px;
}

.catalog-sorting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-search-result {
  margin: 0 auto 0 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;

  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  text-indent: 20px;

  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .select-control:focus {
    border-color: #68a2ca;
    outline: none;
  }
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  color: #000000;

  border-color: #000000;
  opacity: 0.3;
}

.sorting-controls-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}

.sorting-controls-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-controls-link-current {
  border-color: #000000;
}

.sorting-controls-link:hover {
  border-color: #000000;
}

.sorting-controls-link:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .sorting-controls-link:focus {
    border-color: #68a2ca;
    outline: none;
  }
}

.sorting-controls-link:active {
  border-color: #000000;
}

.view-table {
  background-image: url("../images/view-table.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-card {
  background-image: url("../images/view-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-list {
  background-image: url("../images/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.hotels-list {
  display: grid;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;

  list-style: none;

  border-bottom: 1px solid #e6e6e6;

  gap: 20px;
  grid-template-columns: repeat(3, 340px);
}

.hotels-item {
  display: flex;
  flex-direction: column;
  padding: 20px;

  border-radius: 4px;
  outline: 1px solid #e6e6e6;
}

.hotels-image {
  display: block;
  margin-bottom: 16px;
  max-width: 100%;
  object-fit: contain;
}

.hotels-title {
  margin: 0 0 16px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotels-link {
  text-decoration: none;
}

.hotels-link-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hotels-item-content {
  display: grid;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content minmax(36px, min-content) minmax(37px, min-content);
}

.hotels-price {
  justify-self: end;
}

.hotels-star-rating {
  margin-top: 10px;
  margin-bottom: 10px;

  background-image: url("../images/star-rating.svg");
  background-repeat: space;
  background-size: 18px 17px;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 87px;
}

.hotels-number-rating {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link:hover:not(.pagination-link-current):not(.pagination-link-divider) {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
}

.pagination-link:focus-visible:not(.pagination-link-current):not(.pagination-link-divider) {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
}

@supports not selector(:focus-visible) {
  .pagination-link:focus:not(.pagination-link-current):not(.pagination-link-divider) {
    background-color: #68a2ca;
    outline: 1px solid #82b3d3;
    outline-offset: -1px;
  }
}

.pagination-link:active:not(.pagination-link-current):not(.pagination-link-divider) {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82b3d3;
  border: none;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination-link-divider {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
}

.page-footer {
  margin-top: auto;
  padding: 40px 70px 30px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 142px;
  min-width: 142px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;
}

.socials-link:hover svg {
  fill: #68a2ca;
}

.socials-link:focus-visible svg {
  fill: #68a2ca;
}

@supports not selector(:focus-visible) {
  .socials-link:focus svg {
    fill: #68a2ca;
  }
}

.socials-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer-phone-link:hover {
  color: #756157;
}

.page-footer-phone-link:focus-visible {
  color: #756157;
}

@supports not selector(:focus-visible) {
  .page-footer-phone-link:focus {
    color: #756157;
  }
}

.page-footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-academy-link:hover svg {
  fill: #756157;
}

.page-footer-academy-link:focus-visible svg {
  fill: #756157;
}

@supports not selector(:focus-visible) {
  .page-footer-academy-link:focus svg {
    fill: #756157;
  }
}

.page-footer-academy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal-auth {
  position: relative;

  width: 717px;
  padding: 64px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  right: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .modal-close-button:focus {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
  }
}

.modal-close-button:active svg {
  opacity: 0.3;
}

.modal-content-title {
  margin: 0 0 64px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.modal-content-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.modal-content-container:not(.no-calendar)::after {
  content: url("../images/calendar.svg");
  position: absolute;
  top: 50%;
  right: 22px;

  transform: translateY(-50%);
  opacity: 0.3;
}

.modal-content-label {
  display: block;
  width: 137px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.modal-content-input {
  width: calc(100% - 137px);
  min-height: 48px;
  padding-right: 50px;
  padding-left: 20px;

  font: inherit;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.modal-content-message {
  position: absolute;
  top: calc(100% + 4px);
  left: 157px;

  font-size: 16px;
}

.error-message {
  color: #ff5757;
}

.error-message-hide .error-message {
  display: none;
}

.info-message-hide .info-message {
  display: none;
}

.modal-content-input:hover {
  background-color: #e6e6e6;
}

.modal-content-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-content-input:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.modal-content-container-guests {
  display: flex;
  align-items: center;
}

.modal-content-container-kids {
  width: 242px;
}

.modal-content-container-kids .modal-content-label {
  width: auto;
  padding: 0;
}

.modal-content-container-value {
  position: relative;

  margin-left: auto;
}

.modal-content-input-value {
  display: block;
  width: 110px;
  padding-right: 40px;
  padding-left: 40px;

  text-align: center;
}

.modal-content-value-button {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.value-down {
  top: 50%;
  left: 10px;

  transform: translateY(-50%);
}

.value-up {
  top: 50%;
  right: -10px;

  transform: translateX(-100%) translateY(-50%);
}

.modal-content-value-button:hover svg {
  fill: #000000;
  fill-opacity: 1;
}

.modal-content-value-button:focus {
  outline: none;
}

.modal-content-value-button:focus-visible {
  outline: 3px solid #82b3d3;

  fill: #000000;
  fill-opacity: 1;
}

@supports not selector(:focus-visible) {
  .modal-content-value-button:focus {
    outline: 3px solid #82b3d3;

    fill: #000000;
    fill-opacity: 1;
  }
}

.modal-content-value-button:active svg {
  fill-opacity: 0.2;
}

.modal-content-find-button {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-content-find-button:hover {
  background-color: #68a2ca;
}

.modal-content-find-button:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .modal-content-find-button:focus {
    background-color: #68a2ca;
  }
}

.modal-content-find-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-content-tooltip {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-content-tooltip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;

  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-content-tooltip-button:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .modal-content-tooltip-button:focus {
    background-color: #68a2ca;
  }
}

.modal-content-tooltip-button:hover + .modal-content-tooltip-text {
  display: block;
}

.modal-content-tooltip-button:focus-visible + .modal-content-tooltip-text {
  display: block;
}

@supports not selector(:focus-visible) {
  .modal-content-tooltip-button:focus + .modal-content-tooltip-text {
    display: block;
  }
}

.modal-content-tooltip-text {
  position: absolute;
  z-index: 1;

  display: none;
  min-width: 256px;
  margin: 15px 0 0 13px;
  padding: 15px 18px 18px 22px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: none;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.modal-content-tooltip-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;

  width: 19px;
  height: 9px;

  background-image: url("../images/tooltip-arrow.svg");
  transform: translateX(-50%);
}
